<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    <style>
     .hidden {
      display: none;
     } 
     hr {
      border: none;
      border-top: 1px solid gray;
     }
    </style>
  </head>
  <body>
    <h1>{{.Title}}</h1>
    <p>{{.Content}}</p>
    <div>{{.Date}}</div>
    <section id="comments">
      <form action="/api/comments" method="POST">
      <input type="hidden" style="hidden" name="guid" value="{{.GUID}}" />
      <div>
        <input type="text" name="name" placeholder="Your Name" />
      <div>
        <input type="email" name="email" placeholder="Your Email" />
      </div>
      <div>
        <textarea name="comments" placeholder="Your Comments"></textarea>
      </div>
      <div>
        <input type="submit" value="Add Comments" />
      </div>
      </form>
      <div>
       {{/*<pre>{{ printf "%#v" . }}</pre>*/}}
       <hr>
      <h3>Comments<h3>
       {{range .Comments}}
        <h4>{{ .Name }}</h4>
        <p>{{ .CommentText }}</p>
        <hr>
       {{end}}
      <div>
    </section>
  </body>
</html>
